/*
Pico Semantic HTML Styles
*/
@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";

/* Pico overrides */
[data-theme=dark] {
  --pico-primary: #a954fd;
  --pico-primary-background: rebeccapurple;
  --pico-primary-underline: rebeccapurple;
}


details {
  box-shadow: 0 0 0;
  transition: box-shadow 150ms;
  padding: .5rem;
}

details[open] {
  box-shadow: 0 0 5px -1px currentColor;
}

details summary {
  padding-inline-end: 2rem;
  position: relative;
}

details summary::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2rem;
  background-size: 2rem auto;
}

/*
Custom Styles 
*/
.hero-img {
  display: block;
  margin: 0 auto;
}

.text-center+* {
  text-align: center;
}

.img-sm,
img[src*="#img-sm"] {
  width: auto;
  height: 300px;
  object-fit: contain;
}

img[src^="/emoji"] {
  width: auto;
  height: 1.2em;
}