/*
Pico Semantic HTML Styles
*/
@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";

/* Pico overrides */
:host(:not([data-theme="dark"])),
:root:not([data-theme="dark"]),
[data-theme="light"] {
  --pico-primary: hsl(270, 50%, 40%);
  --pico-primary-background: rebeccapurple;
  --pico-primary-underline: hsl(270, 50%, 40%);
  --pico-primary-hover: hsl(270, 50%, 20%);
  --pico-primary-hover-underline: hsl(270, 50%, 20%);
}

@media screen {
  [data-theme=dark] {
    --pico-primary: #a954fd;
    --pico-primary-background: rebeccapurple;
    --pico-primary-underline: rebeccapurple;
  }
}

:root {
  --elevation-1: 10;
}

li>ul,
li>ol {
  margin-bottom: 0;
}

details {
  box-shadow: 0 0 0;
  transition: box-shadow 150ms;
  padding: .5rem;
}

details[open] {
  box-shadow: 0 0 5px -1px currentColor;
}

details summary {
  padding-inline-end: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details summary::after {
  width: 2rem;
  background-size: 2rem auto;
}

blockquote {
  margin-bottom: 1.75rem;
}

/* markdown qutes produce p tags inside, they should have no extra space below */
blockquote p:only-child {
  margin: 0;
}

/*
Custom Font Family
*/
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  --pico-font-family: 'Atkinson', sans-serif;
}

/*
Custom Styles 
*/
br[page] {
  page-break-after: always;
  display: none;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.text-center+* {
  text-align: center;
}

.img-sm,
img[src*="#img-sm"] {
  width: auto;
  height: 300px;
  object-fit: contain;
}

img[src^="/emoji"] {
  width: auto;
  height: 1.2em;
}

.home-examples {
  display: grid;
  place-content: center;
}