---
import Layout from "@/layouts/AdminLayout.astro";
import AdminPanel from '@/components/admin-panel.svelte'
---

<Layout>
  <h1>Demo for Admin-UI with <a href="">flowbite</a> components</h1>
  <em>(work in progress)</em>
  <AdminPanel client:load></AdminPanel>
</Layout>

<style>
  .asdf 
</style>