---
import { stripTrailingSlash as sts } from "@/components/util";

const { href, class: className, ...props } = Astro.props;
const currentRoute = Astro.url.pathname

const isActive = sts(href) === sts(currentRoute)

---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
