---
import { getRelativeLocaleUrl } from "astro:i18n";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const currentLocale = Astro.currentLocale || "";
const rhref = (href = "") => getRelativeLocaleUrl(currentLocale, href);
const currentUrl = Astro.url.pathname.replace(currentLocale + "/", "");

const { title = SITE_TITLE } = Astro.props;
---

<header>
  <h2>
    <a href="/">{title}</a>
  </h2>
  <nav>
    <div class="internal-links">
      <HeaderLink href={rhref("Lorem")}>Multi-Lang Test</HeaderLink>
      <HeaderLink href="/test">UI Styling Test</HeaderLink>
      <HeaderLink href="/admin">Admin</HeaderLink>
      |
      <HeaderLink href={getRelativeLocaleUrl("de", currentUrl)}>
        [DE]
      </HeaderLink>
      <HeaderLink href={getRelativeLocaleUrl("en", currentUrl)}>
        [EN]
      </HeaderLink>
    </div>
  </nav>
</header>
