---
import { getRelativeLocaleUrl } from "astro:i18n";
import { i18n } from "astro:config/server";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const navLinks = [
  { href: "/", multiLang: true },
  { href: "/lorem", multiLang: true },
  { href: "/ui-test", multiLang: false },
  { href: "/styling", multiLang: false },
  { href: "/admin", multiLang: false },
];

const { currentLocale = "" } = Astro;
const normalizeRoute = (url = "") => {
  /*
  console.log(normalizeRoute("/en/lorem/")); // "/lorem"
  console.log(normalizeRoute("/en/lorem")); // "/lorem"
  console.log(normalizeRoute("/lorem/")); // "/lorem"
  console.log(normalizeRoute("/lorem")); // "/lorem"
  console.log(normalizeRoute("/de/lorem")); // "/lorem"
  console.log(normalizeRoute("/")); // "/"
  console.log(normalizeRoute("/en/")); // "/"
  */
  let normalizedRoute = url.trim();

  if (!normalizedRoute.startsWith("/")) {
    normalizedRoute = "/" + normalizedRoute;
  }

  if (normalizedRoute.length > 1 && normalizedRoute.endsWith("/")) {
    normalizedRoute = normalizedRoute.slice(0, -1);
  }

  i18n?.locales.some((locale) => {
    const localePrefix = "/" + locale;
    if (normalizedRoute.startsWith(localePrefix)) {
      normalizedRoute = normalizedRoute.slice(localePrefix.length);
      !normalizedRoute.length && (normalizedRoute = "/");
      return true;
    }
  });

  return normalizedRoute;
};

const rhref = (href = "") => getRelativeLocaleUrl(currentLocale, href);
const currentUrl = Astro.url.pathname.replace(currentLocale + "/", "");
const { title = SITE_TITLE } = Astro.props;
const showLangSwitch = navLinks.some((item) => {
  if (normalizeRoute(Astro.url.pathname) === item.href) {
    return item.multiLang;
  }
});
---

<header>
  <div class="grid">
    <h2>
      <HeaderLink href={rhref("/")}>{title}</HeaderLink>
    </h2>
    {
      showLangSwitch && (
        <span>
          |{" "}
          <HeaderLink href={getRelativeLocaleUrl("de", currentUrl)}>
            [DE]
          </HeaderLink>
          <HeaderLink href={getRelativeLocaleUrl("en", currentUrl)}>
            [EN]
          </HeaderLink>
        </span>
      )
    }
  </div>
  <nav>
    <div class="internal-links">
      <HeaderLink href={rhref("/lorem")}>Multi-Lang Test</HeaderLink>,
      <HeaderLink href="/ui-test">MD UI Test</HeaderLink>,
      <HeaderLink href="/styling">HTML Atoms</HeaderLink>,
      <HeaderLink href="/admin">Admin</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .grid {
    grid-template-columns: 1fr auto;
  }
</style>
