---
import { getRelativeLocaleUrl } from "astro:i18n";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const { currentLocale = "" } = Astro;
const { multilang, showDevLinks, ...rest } = Astro.props;

const rhref = (href = "") => getRelativeLocaleUrl(currentLocale, href);
const currentPath = Astro.url.pathname
const currentPathNoLocale = currentPath.replace(currentLocale + "/", "");

const { title = SITE_TITLE } = Astro.props;

const t_about = {
  de: "Über diese Seite",
  en: "About this page",
}[currentLocale];
---

<header {...rest}>
  <nav class="grid">
    <h2>
      <HeaderLink href={rhref("/home")}>{title}</HeaderLink>
    </h2>
    <HeaderLink href="/about">{t_about}</HeaderLink>
    {multilang && (
      <span>|</span>
      <span>
        <HeaderLink href={getRelativeLocaleUrl("de", currentPathNoLocale)}>
          [DE]
        </HeaderLink>
        <HeaderLink href={getRelativeLocaleUrl("en", currentPathNoLocale)}>
          [EN]
        </HeaderLink>
      </span>
    )}
    </nav>
    {showDevLinks && (
      <div>
        <HeaderLink href={rhref("/lorem")}>Multi-Lang Test</HeaderLink>,
        <HeaderLink href="/ui-test">MD UI Test</HeaderLink>,
        <HeaderLink href="/styling">HTML Atoms</HeaderLink>,
        <HeaderLink href="/admin">Admin</HeaderLink>
      </div>
    )}
</header>
<style>
  .grid {
    grid-template-columns: 1fr auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: baseline;
  }
</style>
