---
import { getRelativeLocaleUrl } from "astro:i18n";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const { currentLocale = "" } = Astro;
const { multilang } = Astro.props

const rhref = (href = "") => getRelativeLocaleUrl(currentLocale, href);
const currentUrl = Astro.url.pathname.replace(currentLocale + "/", "");
console.log('#1', currentUrl, currentLocale);

const { title = SITE_TITLE } = Astro.props;

const t_about = {
  de: "Über diese Seite",
  en: "About this page",
}[currentLocale];
---

<header>
  <nav class="grid">
    <h2>
      <HeaderLink href={rhref("/home")}>{title}</HeaderLink>
    </h2>
    <HeaderLink href={rhref("/about")}>{t_about}</HeaderLink>
    {
      multilang && (
        <span>|</span>
        <span>
          <HeaderLink href={getRelativeLocaleUrl("de", currentUrl)}>
            [DE]
          </HeaderLink>
          <HeaderLink href={getRelativeLocaleUrl("en", currentUrl)}>
            [EN]
          </HeaderLink>
        </span>
      )
    }
  </nav>
  <nav>
    <div class="internal-links">
      <HeaderLink href={rhref("/lorem")}>Multi-Lang Test</HeaderLink>,
      <HeaderLink href="/ui-test">MD UI Test</HeaderLink>,
      <HeaderLink href="/styling">HTML Atoms</HeaderLink>,
      <HeaderLink href="/admin">Admin</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .grid {
    grid-template-columns: 1fr auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: baseline;
  }
</style>
