---
import HTML from "@layouts/html.astro";
const { frontmatter } = Astro.props;
const date = new Date(frontmatter.date).toLocaleDateString();
---

<HTML {...Astro.props}>
  <h1>
    Blog {frontmatter.title}, {date}
  </h1>
  <slot />
</HTML>
